In [7]:
#Bibliotecas
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split,KFold,cross_val_score
from sklearn.metrics import accuracy_score,classification_report

#Aleatoriedade
seed = 123

#Ajuste de linhas/colunas Pandas
pd.options.display.max_columns=None

#Ocultar Warnings
import warnings
warnings.filterwarnings('ignore')

#Vers√£o biblioteca

pd.__version__

'1.1.5'

In [8]:
#Primeiro Contato com o dataset
dados = pd.read_csv("/content/sample_data/dataset_tomate.csv")

dados.head()

,id,trat,NDVI_d28,SAVI_d28,GNDVI_d28,MCARI1_d28,SR_d28,NDVI_d01,SAVI_d01,GNDVI_d01,MCARI1_d01,SR_d01,NDVI_d04,SAVI_d04,GNDVI_d04,MCARI1_d04,SR_d04,NDVI_d08,SAVI_d08,GNDVI_d08,MCARI1_d08,SR_d08,Classe
0,1,102,0.798284,1.197380,0.692652,16710.29721,9.728142,0.729767,1.094620,0.698726,21499.94698,6.907142,0.713179,1.069718,0.662425,13090.11459,6.216968,0.684125,1.026146,0.636865,13352.81776,5.421333,1
1,2,11,0.806955,1.210392,0.705323,19513.85630,10.557411,0.774359,1.161514,0.717367,30041.91766,8.531835,0.777758,1.166604,0.680269,22731.09954,8.380453,0.725521,1.088240,0.669113,16190.82038,6.491860,0
2,3,103,0.825104,1.237610,0.708468,18074.06986,11.141408,0.786941,1.180385,0.730471,29312.17626,8.982521,0.730708,1.096008,0.680238,12330.21702,6.670915,0.728171,1.092214,0.655206,15313.16198,6.551268,1
3,4,112,0.788884,1.183279,0.664787,16226.23017,8.990752,0.743874,1.115782,0.690141,22610.47885,7.109600,0.707999,1.061948,0.644786,12085.07787,6.017714,0.728161,1.092201,0.640739,16562.17418,6.608121,1
4,5,114,0.764986,1.147432,0.673490,14920.80711,8.269806,0.715948,1.073894,0.695619,22002.08151,6.447621,0.688155,1.032176,0.660206,10053.17885,5.571702,0.694320,1.041437,0.642373,13760.95583,5.665567,1

In [9]:
#Exclus√£o de colunas
dados.drop(labels=['id'],axis=1,inplace=True)

#Quantidade de ocorrencias
print("QUANTIDADE DE OCORRENCIAS DE TOMATES RESISTENTES(1) OU N√ÉO RESISTENTES(0) AO FUNGO")


dados.Classe.value_counts()

QUANTIDADE DE OCORRENCIAS DE TOMATES RESISTENTES(1) OU N√ÉO RESISTENTES(0) AO FUNGO

1    91
0    41
Name: Classe, dtype: int64

In [10]:
#Normalizando os dados

X=dados.iloc[:,1:]
y=dados.iloc[:,-1]

X_norm = pd.DataFrame(MinMaxScaler(feature_range=(0,1)).fit_transform(X))

X_norm.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0,0.834531,0.834523,0.834309,0.665776,0.704641,0.558394,0.558370,0.728023,0.182397,0.446168,0.475771,0.475713,0.672413,0.262140,0.365521,0.175348,0.175323,0.372830,0.159900,0.094783,1.0
1,0.883027,0.883043,0.912197,0.992956,0.822972,0.823747,0.823741,0.855947,0.643688,0.749900,0.913244,0.913257,0.781408,0.952983,0.871357,0.433084,0.433059,0.594257,0.400143,0.290298,0.0
2,0.984542,0.984539,0.931529,0.824931,0.906304,0.898617,0.898605,0.945877,0.604280,0.834155,0.594514,0.594438,0.781218,0.207688,0.471656,0.449585,0.449557,0.498770,0.325847,0.301148,1.0
3,0.781951,0.781940,0.663029,0.609285,0.599421,0.642341,0.642321,0.669106,0.242369,0.484017,0.440683,0.440622,0.564671,0.190122,0.318934,0.449521,0.449501,0.399433,0.431579,0.311532,1.0
4,0.648280,0.648266,0.716522,0.456940,0.496548,0.476164,0.476149,0.706698,0.209514,0.360261,0.306251,0.306168,0.658864,0.044522,0.214654,0.238820,0.238790,0.410649,0.194450,0.139388,1.0

In [11]:
#Avaliando modelo Trian Test Split
X_treino,X_teste,y_treino,y_teste=train_test_split(X_norm,y,test_size=0.30,random_state=seed)

In [12]:
print("QUANTIDADE TOTAL DE OCORRENCIAS")
dados.Classe.value_counts()

QUANTIDADE TOTAL DE OCORRENCIAS

1    91
0    41
Name: Classe, dtype: int64

In [13]:
print("AMOSTRAS PARA TREINO")
y_treino.value_counts()

AMOSTRAS PARA TREINO

1    61
0    31
Name: Classe, dtype: int64

In [14]:
print("AMOSTRAS DE TESTE")
y_teste.value_counts()

AMOSTRAS DE TESTE

1    30
0    10
Name: Classe, dtype: int64

In [15]:
#Criando Modelo
modelo_knn_v1= KNeighborsClassifier(n_neighbors=7,n_jobs=2)

#Treino do modelo
modelo_knn_v1.fit(X_treino,y_treino)

KNeighborsClassifier(n_jobs=2, n_neighbors=7)

In [16]:
#Realizando as previsoes
previsao = modelo_knn_v1.predict(X_teste)

#Medi√ßao pela acuracia
print('Acur√°cia: {:.3f}'.format(accuracy_score(y_teste,previsao)))

#Medi√ßao pelo Classification Report
print('\nClassification Report:\n',classification_report(y_teste,previsao))

Acur√°cia: 0.975

Classification Report:
               precision    recall  f1-score   support

           0       0.91      1.00      0.95        10
           1       1.00      0.97      0.98        30

    accuracy                           0.97        40
   macro avg       0.95      0.98      0.97        40
weighted avg       0.98      0.97      0.98        40

In [17]:
#APERFEI√áOAMENTO
cv_scores=[]

valores_k=[]

kfold= KFold(n_splits=10,shuffle=True,random_state=seed)

for k in range(1, 20, 2):
  modelo = KNeighborsClassifier(n_neighbors=k,n_jobs=2)
  scores = cross_val_score(modelo,X_norm,y,cv = kfold,scoring= 'accuracy')

  cv_scores.append(scores.mean())
  valores_k.append(k)

In [18]:
print("TOP 5 MELHORES 'Ks'")
pd.DataFrame(data=cv_scores,index=valores_k,columns=['ACURACIA']).sort_values(by = 'ACURACIA',ascending = False).head(5)

TOP 5 MELHORES 'Ks'

    ACURACIA
19  1.000000
1   0.992308
3   0.992308
5   0.992308
7   0.992308